name: Tests

on:
  pull_request:
    branches: [main]
    paths-ignore:
      - "**/.gitignore"
      - "README.md"
  push:
    branches: [main]
    paths-ignore:
      - "**/.gitignore"
      - "README.md"
  workflow_dispatch:

jobs:
  gnatprove:
    name: Run GNATProve
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: alire-project/setup-alire@v5
        with:
          version: "nightly"
      - run: alr --color=always build --validation
      - run: alr gnatprove --warnings=error
      - run: cat ./obj/validation/gnatprove/gnatprove.out
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    name: Run tests
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: alire-project/setup-alire@v5
        with:
          version: "nightly"
      - run: alr --color=always test
